.Footer {
    height:7vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.okpepe {
    margin-top: 13px;
    height:40px;
    width: 50px;
}